.listing{
    --min-height: calc(var(--width) + 4.75rem);

    width: 100%;
    min-height: var(--min-height);
    height: 100%;

    display: flex;

    /* border-radius: 3px; */

    transition: all .14s ease;

    z-index: 1;
}
.listing:before{
    transition: all .25s ease;
}
.listing:hover{
    transform: scale(1.1);

    z-index: 10;
}
.listing--pressing{ transform: scale(1) !important; }
.listing--placeholder{ height: calc(var(--width) + 4.6rem); }
.listing--placeholder .listing__body{ height: 100%; }

.listing__body{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    border-radius: .4rem;

    overflow: hidden;
}
.listing:hover .listing__body{ position: fixed; box-shadow: 0 0 8px rgba(0, 0, 0, .4); }

.listing--active .listing__image img:nth-child(1){ padding: .3rem; border-radius: .8rem; }

.listing__details{
    display: flex;
    flex-direction: column;

    padding: .8rem;

    overflow: hidden;
    transition: transform .1s ease;
}
.listing:hover .listing__details{ padding-bottom: .6rem; }
.listing__details p{
    text-overflow: ellipsis;
    white-space: nowrap;

    overflow-x: hidden;
}
.listing:hover .listing__details p{ white-space: unset; }
.listing:hover .listing__details .listing__details__subheader--disappear{ display: none; }
.listing:hover p:nth-of-type(2), .listing--active p:nth-of-type(2){ color: #eee; }

.listing__actions{
    width: 100%;

    display: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: .6rem;

    padding: 0 .6rem .6rem .6rem;
}
.listing__actions--vertical{
    grid-template-columns: 1fr;
}
.listing:hover .listing__actions{ display: grid; grid-gap: 0; }
