#popup-container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    padding: 6em 0;

    background-color: rgba(0, 0, 0, .4);
    
    visibility: hidden;
    opacity: 0;
    pointer-events: unset;

    z-index: 101;

    overflow: auto;

    transition: all .1s ease;
}
#popup-container.popup-container--open{
    visibility: visible;
    opacity: 1;
    pointer-events: unset;
}

.popup__element{
    width: 70rem;
    min-height: 20rem;
    height: fit-content;

    display: flex;
    flex-direction: column;
    grid-gap: 1rem;

    position: relative;
    top: 2rem;

    padding: 1rem;

    background-color: rgb(24, 24, 27);
    box-shadow: 0 0 50px rgba(0, 0, 0, .6);
    border-radius: .4rem;

    transition: all .12s ease;
    transform: scaleX(.97);
}
#popup-container.popup-container--open .popup__element{ top: 0; transform: scaleX(1); }
.popup__element--small{ width: 20rem; }
.popup__element--medium{ width: 30rem; }

.popup__element__titlebar{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem;
}

.popup__element__actions{
    display: flex;
    align-items: center;
}
.popup__element__title{
    font-weight: 500;
    font-size: 1.2rem;
}