#popup-container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    padding: 6em;

    background-color: rgba(0, 0, 0, .4);
    
    visibility: hidden;
    opacity: 0;
    pointer-events: unset;

    z-index: 101;

    overflow: auto;

    transition: all .1s ease;
}
#popup-container.popup-container--open{
    visibility: visible;
    opacity: 1;
    pointer-events: unset;
}
#popup-container.popup-container--open .popup{ top: 0; transform: scaleX(1); }
