.container{
    position: relative;
}

.wrapper{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    border-radius: .4rem;

    overflow: hidden;
    transition: transform .1s ease,
                box-shadow .1s ease;
}

.container--expanded .wrapper{
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: scale(1.02);
    z-index: 20;
}

.expandable-element{
    width: 100%;

    display: none;
}
.container--expanded .expandable-element{ display: flex; }