#unauthorized-app{
    display: grid;
    grid-template-rows: var(--header-height) 1fr auto;
}

#nav-unauth{
    display: flex;
    align-items: center;

    border-bottom: 2px solid rgb(45, 45, 47);
}