#page--profile{

}

#container{
    width: 100%;

    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

    #header{
        display: flex;
        height: 12rem;
        grid-gap: 1rem;

        align-items: flex-end;
    }

        #header__username{
            font-weight: 700;
            font-size: 4rem;
        }

    #actions{
        display: flex;
        grid-gap: 1rem;
    }