#notification-container{
    width: calc(20rem + 2rem);

    position: absolute;
    bottom: calc(var(--player-height) + 3rem);
    left: 2rem;

    z-index: 20;
}
.notification{ top: 0; }
.notification__wrapper{ box-shadow: 0px 0px 15px rgb(8, 8, 8); }
.notification-container--removing > .notification{
    top: 50vh;

    transition: top .4s ease-in;
}
/* #notification-container .notification__wrapper{ position: unset !important; } */
